<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>balance</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @available_accounts.each do |available_account| %>
      <tr>
        <td><%= available_account[:id] %></td>
        <td><%= available_account[:name] %></td>
        <td><%= available_account[:balance] %></td>
        <td><%= link_to 'Create Monetary Account', new_monetary_account_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'back', monetary_accounts_path %>