<p id="notice"><%= notice %></p>

<h1>Monetary Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monetary_accounts.each do |monetary_account| %>
      <tr>
        <td><%= monetary_account.account_id %></td>
        <td><%= monetary_account.user_id %></td>
        <td><%= link_to 'Show', monetary_account %></td>
        <td><%= link_to 'Edit', edit_monetary_account_path(monetary_account) %></td>
        <td><%= link_to 'Destroy', monetary_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monetary Account', new_monetary_account_path %>
<%= link_to 'Fetch Monetary Account', fetchaccounts_path %>

