<p id="notice"><%= notice %></p>

<h1>Monetary Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Bunq Id</th>
      <th>Name</th>
      <th>Balance</th>
      <th>User</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @available_accounts.each do |available_account| %>
      <tr>
        <td><%= available_account[:bunq_id] %></td>
        <td><%= available_account[:name] %></td>
        <td><%= available_account[:balance] %></td>
        <% if !available_account[:id].nil? %>
          <td><%= available_account[:user_id] %></td>
        <% else %>
          <td> No Record </td>
          <td><%= link_to 'Create Monetary Account', new_monetary_account_path %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


