<h1>New Monetary Account</h1>

<%= form_for @monetary_account, url: {action: "create"} do |f| %>
  <%= f.number_field :account_id %>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', monetary_accounts_path %>
